# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

# ** Only works in OSs that support newer versions of fnmatch (Bash 4+)
/docroot/sites/default/**/files
/docroot/sites/default/**/private
