{#
/**
 * @file commerce_license.html.twig
 * Default theme implementation to present License data.
 *
 * This template is used when viewing License pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_license()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce_license') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
