{#
/**
 * @file
 * Default theme implementation for an 'interval' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered fields.
 *
 * @see template_preprocess_interval()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>{{ children }}</div>
