#header {
  background: none;
}

.menu--main-menu .content {
  background-color: #333;
  border-bottom: 1px solid #fff;
}

.region-primary-menu .menu a {
  background: none;
  color: white;
}

.region-primary-menu .menu-item, body:not(:target) .region-primary-menu .menu-item {
   border-left: 1px solid #dedede;
}


.region-primary-menu .menu-item, body:not(:target) .region-primary-menu .menu-item:nth-child(0) {
    border: none;
}

.region-sidebar-second .block {
    background: none;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
    padding: 0;
}

.region-sidebar-second .block li.menu-item {
    border-bottom: 1px solid #dedede
}

.region-sidebar-second .block li.menu-item a {
    color: #000;
    padding: 6px 0;
    text-decoration: none;
    border-bottom: 0;
}

.page-title {
    color: #08c;
}

article.node .field--name-field-image .image-style-medium {
    border: 1px solid #cdcdcd;
    float: right;
    margin: .5em 0 1em 1em;
    padding: 3px;
}

.featured-top {
    padding: 0;
}

.featured-top .content {
    margin: 0;
}
